*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center;
 */}
.card{
    top: 50%;
    left: 50%;
    position: absolute;
   transform: translate(-50%,-50%);
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;
}
#card1{
     
    z-index: 4;
    background-color: salmon;
}
#card2{
   
    rotate: -8deg;
    z-index: 3;
    background-color: blue;
    

}
#card3{
   rotate: -16deg;
  z-index: 2;
  background-color: green;
}
#card4{
     rotate: -24deg;
  z-index: 1;
  background-color: yellow;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}