*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Gill Sans;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
      height: 100%;
    width: 100%;
}
#header{
     height: 15%;
    width: 100%;
   
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

    #logo{
      
        height: 70%;
       

    }
    #logo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.texts{
    color: rgb(162, 0, 255);
   
    display: flex;
}
.texts:hover{
    color: aqua;
}
#contactdetails{
    
    font-weight: lighter;
}
.icon{
  
    padding: 10px;
    border-radius: 50%;
    color: black;
    border-radius: 50px;
    

    
}
.icon:hover{
    background-color: lightblue;
}
#login{
    display: flex;
     padding: 10px;
    border-radius: 50px;
   background-color: antiquewhite;
  
    
}
#login:hover{
    background-color: lightblue;
}
#try{
    margin-left: 40px;
    background-color: rgb(160, 177, 160);
    padding: 10px 20px;
    color: rgb(122, 34, 34);
}
#try:hover{
    background-color:chartreuse
}
#fakeheader{
      height: 15%;
      width: 100%;
      }
#page1{
     height:85%;
    width: 100%;
    background-color:white;
}
#strip{
    width: 100%;
    height: 8%;
    background-color: blueviolet;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#strip u{
    margin-left: 20px;
    font-weight: lighter;
}
#content{
    width: 100%;
    height: 76%;
    
    display: flex;
    align-items: center;
    justify-content: center;

}
#box1{
    height: 100%;
    width: 47%;
    background-color: white;

}
#box2{
    height: 100%;
    width: 47%;
    background-color: rgb(219, 196, 196);
    
}

#heading{
    width: 100%;
    height: 16%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    
}
#heading h1{
    font-weight: 600;
}

#box1 h1{
    font-weight: 600;
    color: rgb(158, 23, 23);
    font-size: 50px;
    margin: 30px 10px;

}

#box1 p{
font-size: x-large;
 margin: 30px 10px;



font-weight: lighter;
}
#btns{
    display: flex;

}
#btn1{
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    width: 23%;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
}
#btn1:hover{
    background-color: blue;
}
#btn2{
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    color: rgb(158, 23, 23);
    width: 23%;
    border: 1px solid black;
    border-radius: 5px;

}
#btn2:hover{
    background-color: lightblue;
    color: blueviolet;
    border-color: blueviolet;
}
#box2{
    background-color: white;
}

#page2{
      height: 85%;
    width: 100%;
    background-color:white;
}
