body{
 background: #f4f6fa;
}
.container{
border: 3px solid black;
 display: flex;
 flex-direction: row; 
 justify-content: center; 
 align-items: center; 
 flex-wrap: wrap; 
 gap: 25px;
 padding: 50px;
}
.card{
 width: 300px;
 background: white;
 padding: 25px;
 text-align: center;
 border-radius: 15px;
}
.circle{
 width: 80px;
 height: 80px;
 background: #0d6efd;
 color: white;
 font-size: 26px;
 font-weight: bold;
 border-radius: 50px;
display: flex;
 justify-content: center;
 align-items: center;
 margin:auto;
}
.card h3{
 margin-bottom: 8px;
}
.card p{
 margin: 4px 0;
 color: #313131;
}